* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-darky {
    background: linear-gradient(360deg, rgb(75, 72, 72), rgba(80, 72, 72, 0.8)), url(../img/logo5.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.logo {
    object-fit: cover;
    border-radius: 30%;
    height: 55px;
    width: 55px;
}

.loggo {
    object-fit: cover;
    border-radius: 20%;
    height: 75px;
    width: 80px;
}

.bg-lig {
    background: rgb(235, 234, 234);
}

.bg-light {
    background: lightgray !important;
}

.bg-rgb {
    background: rgb(75, 72, 72);
}

.bg-abs {
    background: orangered;
    width: 80px;
    border-radius: 7%;
    position: absolute;
    bottom: -12%;
    left: 11%;
}

.justify {
    text-align: justify;
}

.land-img {
    background: url(../img/man1.webp) no-repeat;
    background-size: cover;
    background-position:center;
    height: 100vh;
}

.img-rec {
    width: 50%;
    height: 50vh;
    object-fit: cover;
    border-radius: 2%;
}

.h-1 {
    height: 60vh;
    object-fit: cover;
}

@media ( max-width: 769px) {
    .fr-pd {
        padding-right: 0 !important;
    }
}

@media ( max-width: 426px) {
    .years-of {
        justify-content: center;
    }

    .fr-pd {
        padding-right: 0 !important;
    }

    .for-ft p{
        font-size: 14px;
    }

    .img-rec {
        width: 80%;
    }
}