* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-light {
    background: lightgray !important;
}

.land-img {
    background: url(../img/man1.webp) no-repeat;
    background-size: cover;
    background-position:center;
    height: 100vh;
}
 
.creatures {
    width: 325px;
    height: 360px;
    padding-bottom: px;
}

.quote-img {
    display: flex;
    justify-content: center;
}

.gambling {
    background-color: rgba(150, 10, 0, 0.1);
    border-radius: 50%;
}

@media ( max-width: 769px) {
    .years-of {
        display: flex;
        justify-content: center;
    }
}

