

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    bord: 1px solid red;
}
.bg-darky {
    background: linear-gradient(360deg, rgb(3, 3, 3), rgb(229, 226, 226, 0.8)), url(../img/logo5.png) no-repeat;
    background-position: center;
    background-size: cover;
}


.logo {
    object-fit: cover;
    border-radius: 30%;
    height: 55px;
    width: 55px;
}

.loggo {
    object-fit: cover;
    border-radius: 20%;
    height: 75px;
    width: 80px;
}

.bg-lig {
    background: rgb(235, 234, 234);
}

.bg-light {
    background: lightgray !important;
}

.bg-abs {
    background: orangered;
    width: 80px;
    border-radius: 7%;
    position: absolute;
    bottom: -12%;
    left: 11%;
}

.abso {
    position: absolute;
}

.fr-rel {
    position: relative;
}
.justify {
    text-align: justify;
}

.land-img {
    background: url(../img/man1.webp) no-repeat;
    background-size: cover;
    background-position:center;
    height: 100vh;
}
 
.creatures {
    width: 325px;
    height: 360px;
}

.quote-img {
    display: flex;
    justify-content: center;
}

.for-rel {
    position: relative;
}

.img-rec {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 12%;
}

.fr-outline {
    background-color: rgba(240, 240, 240, 0.4);
    width: 50%;
    border-radius: 8%;
}

@media ( max-width: 769px) {
    .years-of {
        display: flex;
        justify-content: center;
    }

    .fr-pd {
        padding-right: 0 !important;
    }
}


@media ( max-width: 426px) {
    .fr-pd {
        padding-right: 0 !important;
    }

    .for-ft p{
        font-size: 12px;
    }

    .fr-outline {
        width: 100%;
    }

}
